aiofiles
aiogram
aiohttp
aiosignal
APScheduler
async-timeout
attrs
bcrypt
Babel
certifi
charset-normalizer
frozenlist
humanize
idna
magic-filter
multidict
propcache
pytz
six
tzlocal
yarl
paramiko
python-dotenv